<h1>Add New Carpark</h1>
<div class="row">
	<div class="col">
		<form action="/carpark/new" method="post">
			<div class="form-group">
				<input name="name" type="text" class="form-control" placeholder="Carpark Name">
			</div>
			<div class="form-group">
				<input name="location" type="text" class="form-control" placeholder="Carpark Location">
			</div>
			<div class="form-group">
				<input name="capacity" type="number" class="form-control" placeholder="Carpark capacity">
			</div>
			<button class="btn btn-primary btn-block">Add Carpark</button>
		</form>
	</div>
</div>